<div id="contract-show">
    <div class="columns is-desktop">
        <div class="column is-6">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        <span class="icon">
                            <i class="fas fa-list"></i>
                        </span>
                        Contract Details
                    </p>
                </header>
                <div class="card-content is-paddingless">
                    <table class="table is-striped is-hoverable is-fullwidth">
                        <tbody>
                            <tr>
                                <td><strong>Contract Title:</strong></td>
                              <td><%= @contract.title %></td>
                            </tr>
                            <tr>
                                <td><strong>Number:</strong></td>
                                <td><%= @contract.number %></td>
                            </tr>
                            <tr>
                                <td><strong>Contract Type:</strong></td>
                                <td><%= @contract.contract_type_humanize %></td>
                            </tr>

                            <tr>
                                <td><strong>End Trigger:</strong></td>
                                <td><%= @contract.end_trigger_humanize %></td>
                            </tr>
                            <tr>
                                <td><strong>Point of Contact:</strong></td>
                                <td>
                                <%= link_to @contract.point_of_contact.full_name, user_path(@contract.point_of_contact) %>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Vendor:</strong></td>
                                <td>
                                <%= link_to @contract.vendor.name, vendor_path(@contract.vendor) %>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Entity:</strong></td>
                                <td><%= @contract.entity.name %></td>
                            </tr>
                            <tr>
                                <td><strong>Program:</strong></td>
                                <td><%= @contract.program.name %></td>
                            <tr>
                                <td><strong>Start Date:</strong></td>
                                <td><%= @contract.starts_at.strftime("%B %d, %Y") %></td>
                            </tr>
                            <% if @contract.ends_at && contract.end_trigger == "limited_term"%>
                                <tr>
                                    <td><strong>End Date:</strong></td>
                                    <td><%= @contract.ends_at.strftime("%B %d, %Y") %></td>
                                </tr>
                            <% end %>
                            <% if @contract.ends_at_final && contract.end_trigger == "limited_term"%>
                                <tr>
                                    <td><strong>Final End Date:</strong></td>
                                    <td><%= @contract.ends_at_final.strftime("%B %d, %Y") %></td>
                                </tr>
                            <% end %>
                             <tr>
                                <td><strong>Total Amount:</strong></td>
                                <% if @contract.total_amount == 0 && @contract.value_type == "Not Applicable" %>
                                    <td>Not Applicable</td>
                                <% else %>
                                    <td>
                                        <% if @contract.current_type.in?(%w[amend renew]) && @contract.contract_status.in?([ContractStatus::IN_PROGRESS, ContractStatus::IN_REVIEW]) %>
                                            <% @modification_logs.each do |log| %>
                                                <% if log.changes_made.key?('total_amount') %>
                                                    <div class="diff">
                                                        <span class="old-value"><%= number_to_currency(log.changes_made['total_amount'][0]) %></span>
                                                        <span class="new-value"><%= number_to_currency(log.changes_made['total_amount'][1]) %></span>
                                                    </div>
                                                <% end %>
                                            <% end %>
                                        <% else %>
                                            <%= number_to_currency(@contract.total_amount) %>
                                        <% end %>
                                    </td>
                                <% end %>
                            </tr>
                            <tr>
                                <td><strong>Status:</strong></td>
                                <td><%= contract_status_icon(@contract) %></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <footer class="card-footer distribute">
                    <% if current_user.present? && current_user.level != UserLevel::TWO %>
                        <% if @contract.contract_status == ContractStatus::IN_PROGRESS  %>
                            <%= link_to "Edit this contract", edit_contract_path(@contract), class: "card-footer-item common-button" %>
                            <%= form_with model: @contract, url: [@contract, :log_submission], method: :post, remote: true, class: "card-footer-item common-button" do |form| %>
                                <% form.submit 'Set to "In Review"', class: "card-footer-item common-button"%>
                            <% end %>
                        <% end %>
                    <% end %>
                    <% if current_user.present? && current_user.level == UserLevel::TWO%>
                        <% if @contract.contract_status == ContractStatus::IN_REVIEW %>
                            <%= form_with model: @contract, url: [@contract, :log_approval], method: :post, remote: true, class: "card-footer-item common-button" do |form| %>
                                <% form.submit 'Set to "Approved"', class: "card-footer-item common-button"%>
                            <% end %>
                            <%= link_to 'Set to "Rejected"', reject_contract_path(@contract), class: "card-footer-item common-button" %>
                        <% elsif @contract.contract_status == ContractStatus::REJECTED %>
                            <%= form_with model: @contract, url: [@contract, :log_return], method: :post, remote: true, class: "card-footer-item common-button" do |form| %>
                                <% form.submit 'Set to "In Progress"', class: "card-footer-item common-button"%>
                            <% end %>
                        <% end %>
                    <% end %>
                </footer>
            </div>
        </div>
        <div class="column is-6">
            <div class="column is-12 is-paddingless">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            <span class="icon">
                                <i class="fas fa-info-circle"></i>
                            </span>
                            Description
                        </p>
                    </header>
                    <div class="card-content is-paddingless">
                        <table class="table is-striped is-hoverable is-fullwidth">
                            <tbody>
                                <tr>
                                    <td><strong>Key Words:</strong></td>
                                    <td><%= @contract.key_words %></td>
                                </tr>
                                <tr>
                                    <td><strong>Description:</strong></td>
                                    <td><%= @contract.description %></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="column is-12 is-paddingless">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            <span class="icon">
                                <i class="fas fa-file"></i>
                            </span>
                            Contract Documents
                        </p>
                    </header>
                    <div class="card-content is-paddingless">
                        <%= render partial: "contracts/contract_documents", locals: { contract: @contract, action: "download" } %>
                    </div>
                </div>
            </div>
            <% if @decisions.present? %>
            <div class="column is-12 is-paddingless">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">Contract Decision History</p>
                    </header>
                    <table class="table is-striped is-hoverable is-fullwidth">
                        <tbody>
                            <% @decisions.each do |decision| %>
                            <tr>
                                <td>
                                    <strong>Event:</strong> 
                                    <% case decision.decision %>
                                    <% when ContractStatus::CREATED %>
                                        Created
                                    <% when ContractStatus::IN_PROGRESS %>
                                        Moved to "In Progress"
                                    <% when ContractStatus::IN_REVIEW %>
                                        Moved to "In Review"
                                    <% when ContractStatus::REJECTED %>
                                        Rejected
                                    <% when ContractStatus::APPROVED %>
                                        Approved
                                    <% end %>
                                    <br>
                                    <strong>User:</strong> <%= link_to decision.user.full_name, user_path(decision.user) %><br>
                                    <strong>Date:</strong> <%= decision.created_at %><br>
                                    <% if decision.reason.present? %>
                                        <strong>Reason:</strong> <%= decision.reason %><br>
                                    <% end %>
                                </td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
            <% end %>

            <% if @modification_logs.present? %>
            <div class="column is-12 is-paddingless">
            <div class="card">
                <header class="card-header">
                <p class="card-header-title">
                    <span class="icon">
                    <i class="fas fa-history"></i>
                    </span>
                    Modification Logs
                </p>
                </header>
                <div class="card-content is-paddingless">
                    <div class="table-container">
                        <table class="table is-striped is-hoverable is-fullwidth">
                            <thead>
                            <tr>
                                <th>Modifier</th>
                                <th>Timestamp</th>
                                <th>Fields Changed</th>
                                <th>Old Values</th>
                                <th>New Values</th>
                                <th>Action</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% @modification_logs.each do |log| %>
                                <tr>
                                    <td><%= log.modified_by %></td>
                                    <td><%= log.created_at.strftime("%B %d, %Y %H:%M") %></td>
                                    <td><%= log.changes_made.keys.join(", ") %></td>
                                    <td><%= log.changes_made.values.map { |change| change[0] }.join(", ") %></td>
                                    <td><%= log.changes_made.values.map { |change| change[1] }.join(", ") %></td>
                                    <td><%= log.modification_type %></td>
                                    <td><%= log.status %></td>
                                </tr>
                            <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </div>
            <% end %>
        </div>
  </div>
</div>
