<style>
    .alert {
    position: relative;
    padding: 16px;
    margin-bottom: 16px;
    border: 1px solid transparent;
    border-radius: 4px;
    }

    .alert-warning {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    }
</style>

<% if @decisions != nil %>
<% @decisions.reverse.each do |decision| %>
<tr>
    <td>
    <% if @contract.contract_status.in?([ContractStatus::IN_PROGRESS]) %>
        <% case decision.decision %>
            <% when ContractStatus::REJECTED %>
                <% if decision.reason.present? %>
                    <div class="alert alert-warning"> 
                        Soft Reject Reason: 
                        <%= decision.reason %><br>
                    </div>
                    <% break %>
                <% end %>
            <% when ContractStatus::APPROVED %>
                <% break %>
        <% end %>
    <% end %>
    </td>
</tr>
<% end %>
<% end %>


<div id="contract-show">
    <div class="columns is-desktop">
        <div class="column is-6">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        <span class="icon">
                            <i class="fas fa-list"></i>
                        </span>
                        Contract Details
                    </p>
                </header>
                <div class="card-content is-paddingless">
                    <table class="table is-striped is-hoverable is-fullwidth">
                        <tbody>
                            <tr>
                                <td><strong>Contract Title:</strong></td>
                              <td><%= @contract.title %></td>
                            </tr>
                            <tr>
                                <td><strong>Number:</strong></td>
                                <td>
                                    <% if @contract.contract_status.in?([ContractStatus::IN_PROGRESS, ContractStatus::IN_REVIEW]) %>
                                        <% @modification_logs = @contract.modification_logs.order(updated_at: :desc) %>
                                        <% latest_log = @modification_logs.where(status: 'pending').order(updated_at: :desc).first %>
                                        <% if latest_log && latest_log.changes_made['number'].present? %>
                                            <div class="diff">
                                                <span class="old-value"><%= latest_log.changes_made['number'][0] %></span>
                                                <span class="new-value"><%= latest_log.changes_made['number'][1] %></span>
                                            </div>
                                        <% else %>
                                            <%= @contract.number %>
                                        <% end %>
                                    <% else %>
                                        <%= @contract.number %>
                                    <% end %>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Contract Type:</strong></td>
                                <td><%= @contract.contract_type_humanize %></td>
                            </tr>
                            <tr>
                                <td><strong>Point of Contact:</strong></td>
                                <td>
                                <%= link_to @contract.point_of_contact.full_name, user_path(@contract.point_of_contact) %>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Vendor:</strong></td>
                                <td>
                                <%= link_to @contract.vendor.name, vendor_path(@contract.vendor) %>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Funding Source:</strong></td>
                                 <td><%= @contract.funding_source.presence || 'N/A' %></td>
                            </tr>

                            <tr>
                                <td><strong>Entity:</strong></td>
                                <td><%= @contract.entity.name %></td>
                            </tr>
                            <tr>
                                <td><strong>Program:</strong></td>
                                <td><%= @contract.program.name %></td>
                            </tr>
                            <tr>
                                <td><strong>Start Date:</strong></td>
                                <td>
                                    <% if @contract.contract_status.in?([ContractStatus::IN_PROGRESS, ContractStatus::IN_REVIEW]) %>
                                        <% @modification_logs = @contract.modification_logs.order(updated_at: :desc) %>
                                        <% latest_log = @modification_logs.where(status: 'pending').order(updated_at: :desc).first %>
                                        <% if latest_log && latest_log.changes_made['starts_at'].present? %>
                                            <div class="diff">
                                                <span class="old-value"><%= Date.parse(latest_log.changes_made['starts_at'][0]).strftime("%B %d, %Y") %></span>
                                                <span class="new-value"><%= Date.parse(latest_log.changes_made['starts_at'][1]).strftime("%B %d, %Y") %></span>
                                            </div>
                                        <% else %>
                                            <%= @contract.starts_at.strftime("%B %d, %Y") %>
                                        <% end %>
                                    <% else %>
                                        <%= @contract.starts_at.strftime("%B %d, %Y") %>
                                    <% end %>
                                </td>
                            </tr>
                            <% if @contract.ends_at%>
                                <tr>
                                    <td><strong>End Date:</strong></td>
                                    <td>
                                        <% if @contract.contract_status.in?([ContractStatus::IN_PROGRESS, ContractStatus::IN_REVIEW]) %>
                                            <% @modification_logs = @contract.modification_logs.order(updated_at: :desc) %>
                                            <% latest_log = @modification_logs.where(status: 'pending').order(updated_at: :desc).first %>
                                            <% if latest_log && latest_log.changes_made['ends_at'].present? %>
                                                <div class="diff">
                                                    <span class="old-value"><%= Date.parse(latest_log.changes_made['ends_at'][0]).strftime("%B %d, %Y") %></span>
                                                    <span class="new-value"><%= Date.parse(latest_log.changes_made['ends_at'][1]).strftime("%B %d, %Y") %></span>
                                                </div>
                                            <% else %>
                                                <%= @contract.ends_at.strftime("%B %d, %Y") %>
                                            <% end %>
                                        <% else %>
                                            <%= @contract.ends_at.strftime("%B %d, %Y") %>
                                        <% end %>
                                    </td>
                                </tr>
                            <% end %>
                             <tr>
                                <td><strong>Contract Value:</strong></td>
                                <% if @contract.total_amount == 0 && @contract.value_type == "Not Applicable" %>
                                    <td>Not Applicable</td>
                                <% else %>
                                    <td>
                                        <% if @contract.contract_status.in?([ContractStatus::IN_PROGRESS, ContractStatus::IN_REVIEW]) %>
                                            <% @modification_logs = @contract.modification_logs.order(updated_at: :desc) %>
                                            <% latest_log = @modification_logs.where(status: 'pending').order(updated_at: :desc).first %>
                                            <% if latest_log && latest_log.changes_made['total_amount'].present? %>
                                                <div class="diff">
                                                    <span class="old-value"><%= number_to_currency(latest_log.changes_made['total_amount'][0]) %></span>
                                                    <span class="new-value"><%= number_to_currency(latest_log.changes_made['total_amount'][1]) %></span>
                                                </div>
                                            <% else %>
                                                <%= number_to_currency(@contract.total_amount) %>
                                            <% end %>
                                        <% else %>
                                            <%= number_to_currency(@contract.total_amount) %>
                                        <% end %>
                                    </td>
                                <% end %>
                            </tr>
                            <tr>
                                <td><strong>Status:</strong></td>
                                <td><%= contract_status_icon(@contract) %></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <footer class="card-footer distribute">
                    <% if current_user.present? && current_user.level != UserLevel::TWO %>
                        <% if @contract.contract_status == ContractStatus::IN_PROGRESS  %>
                            <%= link_to @contract.current_type == 'contract' ? "Edit this contract" : 'Edit this request', edit_contract_path(@contract), class: "card-footer-item common-button" %>
                            <%= form_with model: @contract, url: [@contract, :log_submission], method: :post, remote: true, class: "card-footer-item common-button" do |form| %>
                                <% form.submit 'Set to "In Review"', class: "card-footer-item common-button"%>
                            <% end %>
                        <% elsif @contract.contract_status == ContractStatus::APPROVED %>
                            <%= link_to amend_contract_path(@contract), class: 'card-footer-item button is-info is-rounded', style: 'display: flex; align-items: center; justify-content: center;' do %>
                                <span class="icon is-small">
                                    <i class="fas fa-pencil-alt"></i>
                                </span>
                                <span>Amend</span>
                            <% end %>
                        <% end %>
                    <% end %>
                    <% if current_user.present? && current_user.level == UserLevel::TWO%>
                        <% if @contract.contract_status == ContractStatus::IN_REVIEW %>
                            <%= form_with model: @contract, url: [@contract, :log_approval], method: :post, remote: true, class: "card-footer-item common-button" do |form| %>
                                <% form.submit 'Set to "Approved"', class: "card-footer-item common-button"%>
                            <% end %>
                            <%= link_to 'Set to "Rejected"', reject_contract_path(@contract), class: "card-footer-item common-button" %>
                        <% elsif @contract.contract_status == ContractStatus::REJECTED %>
                            <%= form_with model: @contract, url: [@contract, :log_return], method: :post, remote: true, class: "card-footer-item common-button" do |form| %>
                                <% form.submit 'Set to "In Progress"', class: "card-footer-item common-button"%>
                            <% end %>
                        <% end %>
                    <% end %>
                </footer>
            </div>
        </div>
        <div class="column is-6">
            <div class="column is-12 is-paddingless">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            <span class="icon">
                                <i class="fas fa-info-circle"></i>
                            </span>
                            Summary
                        </p>
                    </header>
                    <div class="card-content is-paddingless">
                        <table class="table is-striped is-hoverable is-fullwidth">
                            <tbody>
                                <tr>
                                    <td><%= @contract.description %></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="column is-12 is-paddingless">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            <span class="icon">
                                <i class="fas fa-file"></i>
                            </span>
                            Contract Documents
                        </p>
                    </header>
                    <div class="card-content is-paddingless">
                        <%= render partial: "contracts/contract_documents", locals: { contract: @contract, action: "download" } %>
                    </div>
                </div>
            </div>
            <% if @decisions.present? %>
            <div class="column is-12 is-paddingless">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">Contract Decision History</p>
                    </header>
                  <div class="card-content is-paddingless scrollable-container">
                    <table class="table is-striped is-hoverable is-fullwidth">
                        <tbody>
                            <% @decisions.each do |decision| %>
                            <tr>
                                <td>
                                    <strong>Event:</strong> 
                                    <% case decision.decision %>
                                    <% when ContractStatus::CREATED %>
                                        Created
                                    <% when ContractStatus::IN_PROGRESS %>
                                        Moved to "In Progress"
                                    <% when ContractStatus::IN_REVIEW %>
                                        Moved to "In Review"
                                    <% when ContractStatus::REJECTED %>
                                        Rejected
                                    <% when ContractStatus::APPROVED %>
                                        Approved
                                    <% end %>
                                    <br>
                                    <strong>User:</strong> <%= link_to decision.user.full_name, user_path(decision.user) %><br>
                                    <strong>Date:</strong> <%= decision.created_at %><br>
                                    <% if decision.reason.present? %>
                                        <strong>Reason:</strong> <%= decision.reason %><br>
                                    <% end %>
                                </td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                  </div>
                </div>
            </div>
            <% end %>

            <% if @modification_logs.present? %>
            <div class="column is-12 is-paddingless">
            <div class="card">
                <header class="card-header">
                <p class="card-header-title">
                    <span class="icon">
                    <i class="fas fa-history"></i>
                    </span>
                    Modification Logs
                </p>
                </header>
                <div class="card-content is-paddingless scrollable-container">
                    <div class="table-container">
                        <table class="table is-striped is-hoverable is-fullwidth">
                            <thead>
                            <tr>
                                <th>Modifier</th>
                                <th>Timestamp</th>
                                <th>Fields Changed</th>
                                <th>Values</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% @modification_logs.each do |log| %>
                                <% unless log.status == 'pending' %>
                                    <tr>
                                        <td><%= log.modified_by.full_name %></td>
                                        <td><%= log.created_at.strftime("%B %d, %Y %H:%M") %></td>
                                        <td><%= log.changes_made.keys.map { |field| humanize_field_name(field) }.join(", ") %></td>
                                        <td>
                                            <div class="limited-content">
                                                <span class="content">
                                                    <%= log.changes_made.values.map { |change| "#{change[0]} -> #{change[1]}" }.join(", ") %>
                                                </span>
                                            </div>
                                            <% if log.changes_made.values.map { |change| "#{change[0]} -> #{change[1]}" }.join(", ").length > 54 %>
                                                <a href="javascript:void(0);" class="show-more-link" onclick="showFullContentModal('<%= j log.changes_made.keys.join(", ") %>', '<%= j log.changes_made.values.map { |change| change.join(' -> ') }.join(', ') %>')">
                                                    show more
                                                </a>
                                            <% end %>
                                            
                                        </td>
                                        <td><%= log.status %></td>
                                    </tr>
                                <% end %>
                            <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="fullContentModal" class="modal">
                    <div class="modal-background" onclick="closeFullContentModal()"></div>
                    <div class="modal-content">
                        <div class="box">
                            <h3 class="title is-5">Detailed Changes</h3>
                            <table class="table is-fullwidth" id="modalTable">
                                <thead>
                                    <tr>
                                        <th>Field</th>
                                        <th>Old Value</th>
                                        <th>New Value</th>
                                    </tr>
                                </thead>
                                <tbody id="modalTableBody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <button class="modal-close is-large" aria-label="close" onclick="closeFullContentModal()"></button>
                </div>
            </div>
            </div>
            <% end %>
        </div>
  </div>
</div>




<script>
    // Show full content in modal
    function showFullContentModal(fieldsChanged, values) {
        const tableBody = document.getElementById('modalTableBody');
        tableBody.innerHTML = '';

        const fieldsArray = fieldsChanged.split(', ');
        const valuesArray = values.split(', ').map(item => item.split(' -> '));

        const fieldDisplayNames = {
        'description': 'Summary',
        'starts_at': 'Effective Date',
        'ends_at': 'End Date',
        'total_amount': 'Contract Value',
        'number': 'Contract ID'
        };

        for (let i = 0; i < fieldsArray.length; i++) {
            const row = document.createElement('tr');

            const fieldCell = document.createElement('td');
            fieldCell.innerText = fieldDisplayNames[fieldsArray[i]] || fieldsArray[i];
            row.appendChild(fieldCell);

            const oldValueCell = document.createElement('td');
            oldValueCell.innerText = valuesArray[i][0] || ''; 
            row.appendChild(oldValueCell);

            const newValueCell = document.createElement('td');
            newValueCell.innerText = valuesArray[i][1] || '';
            row.appendChild(newValueCell);
            tableBody.appendChild(row);
        }

        document.getElementById('fullContentModal').classList.add('is-active');
    }

    // Close modal
    function closeFullContentModal() {
        document.getElementById('fullContentModal').classList.remove('is-active');
    }
</script>

<style>
.limited-content {
    max-height: 4.5em; 
    overflow: hidden;
    position: relative;
}

.content {
    display: block; 
    margin-bottom: 0.5em; 
}

.show-more-link {
    display: block; 
    color: blue !important;
    cursor: pointer;
    text-decoration: underline;
    padding-top: 5px; 
    position: relative; 
}

.modal {
    display: none;
}

.modal.is-active {
    display: flex;
}
</style>
