<div>
  <div id="sidebar-header" class="sidebar-logo">
      <%= image_tag('bvcog-logo', style: 'height: 50px;') %>
  </div>
  <aside class="sidebar-main menu">
    <% page_list.each do |page| %>
      <p class="menu-label custom">
        <%= page[:title] %>
      </p>
      <ul class="menu-list">
        <% page[:subpaths].each do |item| %>
          <% if url_for(only_path: true) == item[:path] %>
            <%= link_to url_for(item[:path]), "data-turbo-method": item[:method].present? ? item[:method] : :get , class: "sidebar-item has-background-light menu-item has-text-black-bis" do %>
              <%= raw("<i class=\"fa-solid fa-#{item[:icon]}\"></i>") %>
              <%= item[:name] %>
            <% end %>
          <% else %>
            <%= link_to url_for(item[:path]), "data-turbo-method": item[:method].present? ? item[:method] : :get , class: "sidebar-item  menu-item has-text-grey-lighter" do %>
                <i class="fa-solid fa-<%= item[:icon] %>"></i>
              <%= item[:name] %>
            <% end %>
          <% end %>
        <% end %>

        <%# Insert Amend and Renew button under Contracts %>
        <% if page[:title] == "Contracts" %>
          <li>
            <%= link_to "/amend_and_renew", class: "sidebar-item menu-item has-text-grey-lighter" do %>
              <i class="fa-solid fa-sync-alt"></i> Amend and Renew
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </aside>
</div>
